*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
}
.header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button{
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  display: none;
}
#drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

#drop-zone.dragover {
  background-color: rgba(255, 166, 0, 0.836);
}

#drop-zone p {
  margin: 0;
}

#drop-zone input {
  display: none;
}


#drop-zone label {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  /* set background color to blue */
  border: 1px solid #007bff;
  /* set border color to blue */
  border-radius: 4px;
  color: #fff;
  /* set text color to white */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#drop-zone label:hover {
  background-color: #0069d9;
  /* set background color to darker blue on hover */
  border-color: #0062cc;
  /* set border color to darker blue on hover */
}



/* Martin luther king*/
.pdf-container{
  margin: 2rem;
  position: sticky;
  top:0;
  background-color: white; 
}
#pdf-images {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
  display: flex;
  overflow-x: auto;
  width: 80%;
  white-space: nowrap; /* prevent line breaks */
  margin: 0 auto;
  text-align: center;
}

#pdf-images > div {
  flex-shrink: 0; /* prevent items from shrinking */
  margin-right: 10px; /* add some spacing between items */
}

#pdf-images img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#pdf-images img:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#pdf-images img.selected {
  border: 2px solid #0069d9;
}
#selected-image-container {
  max-width: 80%;
  margin: 0 auto; 
}

#selected-image-container img {
  max-width: 100%; 
  display: block; 
  margin: 0 auto; 
}

#loadingIcon {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
  
  #loadingIcon svg {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  #loadingIcon circle {
    stroke-dasharray: 150.6 100.4;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
